* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
button {
    background: transparent;
    border: 0;
    outline: none;
}

.navbar {
    border-radius: 0;
    background: #222222;
}

.navbar-brand img {
    position: relative;
    bottom: 14px;
    background: #222222;
}

body {
    position: relative;
    height: 100vh;
    /*background: linear-gradient(#141e30, #243b55);*/
    /*background: #222222;*/
    background-image: url("/static/img/6.png");
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: aliceblue;
    z-index: 999;
}

.overlay {
    position: absolute;
    top: 57px; /* 距离顶部的高度，根据您的导航栏高度调整 */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.loginBox {
    position: relative;
    width: 400px;
    height: 364px;
    /*background-color: #0c1622;*/
    background-color: #4C4C4C;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
    padding: 40px;
    box-sizing: border-box;
    z-index: 5;
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.small-text {
    font-size: 12px; /* 根据需要调整字体大小 */
    color: #ffbf00;
}

.item {
    height: 40px;
    border-bottom: 1px solid #fff;
    margin-bottom: 36px;
    position: relative;
}

.item input {
    width: 100%;
    height: 100%;
    color: #ffbf00;
    padding-top: 20px;
    box-sizing: border-box;
}

.item input:focus + label,
.item input:valid + label {
    top: 0px;
    font-size: 2px;
}

.item label {
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.5s linear;
}

.btn {
    padding: 10px 20px;
    margin-top: 30px;
    /*color: #03e9f4;*/
    color: #ffbf00;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    /*background: #03e9f4;*/
    color: #ffbf00;
    /*box-shadow: 0 0 5px 0 #03e9f4,*/
    box-shadow: 0 0 5px 0 #ffbf00,
    0 0 25px 0 #ffbf00,
    0 0 50px 0 #ffbf00,
    0 0 100px 0 #ffbf00;
    transition: all 1s linear;
}

.btn > span {
    position: absolute;
}

.btn > span:nth-child(1) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, transparent, #ffbf00);
    left: -100%;
    top: 0px;
    animation: line1 1s linear infinite;
}

@keyframes line1 {
    50%,
    100% {
        left: 100%;
    }
}

.btn > span:nth-child(2) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #ffbf00);
    right: 0px;
    top: -100%;
    animation: line2 1s 0.25s linear infinite;
}

@keyframes line2 {

    50%,
    100% {
        top: 100%;
    }
}

.btn > span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, #ffbf00, transparent);
    left: 100%;
    bottom: 0px;
    animation: line3 1s 0.75s linear infinite;
}

@keyframes line3 {
    50%,
    100% {
        left: -100%;
    }
}

.btn > span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #ffbf00);
    left: 0px;
    top: 100%;
    animation: line4 1s 1s linear infinite;
}

@keyframes line4 {

    50%,
    100% {
        top: -100%;
    }
}