<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
     <link rel="stylesheet" href="/static/css/login02.css">
</head>

<body>
	<div class="loginBox">
		<h2>login</h2>
		<form action="/login_user" method="post">
			<div class="item">
				<input type="text" name="username" required>
				<label for="">userName</label>
			</div>
			<div class="item">
				<input type="password" name="pwd" required>
				<label for="">password</label>
			</div>
			<button class="btn">submit
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</form>
	</div>
</body>

</html>