<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
     <link rel="stylesheet" href="/static/css/passwordForgot.css">
</head>

<body>
	<div class="loginBox">
		<h2>您想找回密码么?</h2>
		<form action="/passwordForgot/3" method="post">

			<div class="item">
				<input type="password" name="email" required>
                <label for="">请输入您的邮箱地址.</label>
                <br>
                <br>
               <span class="small-text">使用邮箱中的链接进行密码重置</span>
			</div>

			<button class="btn">确 认
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</form>
	</div>
</body>

</html>