<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/PasswordReset.css">
</head>

<body>
    <div class="loginBox">
        <h2>Password Reset</h2>
        <form action="/password_reset_post/2" method="post" onsubmit="return validatePassword()">
            <div class="item">
                <input type="password" name="new_password1" id="new_password1" required>
                <label for="new_password1">New Password</label>
            </div>
            <div class="item">
                <input type="password" name="new_password2" id="new_password2" required>
                <label for="new_password2">Confirm New Password</label>
                <span class="small-text" id="password-match-error" style="color: red;"></span>
            </div>

            <button class="btn">Submit
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </form>
    </div>

    <script>
        function validatePassword() {
            var password1 = document.getElementById("new_password1").value;
            var password2 = document.getElementById("new_password2").value;
            var passwordMatchError = document.getElementById("password-match-error");

            if (password1 !== password2) {
                passwordMatchError.textContent = "Passwords do not match.";
                return false; // Prevent form submission
            } else {
                passwordMatchError.textContent = ""; // Clear the error message
                return true; // Allow form submission
            }
        }
    </script>
</body>

</html>
