<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate Tool</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/passwordForgot.css">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/top/1"> <img width="160px" src="/static/img/logomimilast.png"></a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/index/4">翻译画面</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">语言选择<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/top/1">日本語</a></li>
                            <li><a href="/top/2">English</a></li>
                            <li><a href="/top/3">中文</a></li>
                            <li><a href="/top/4">မြန်မာဘာသာ</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <input type="text" class="form-control" placeholder="Search for..." style="margin-top: 10px;">

                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"> <img width="25" height="25"
                                                   src="/static/img/icon-user.jpg"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login/3">登录</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/add_user/3">注册</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="loginBox">
    <h2>嘿，别担心，帮您找回您的密码！！</h2>
    <form action="/passwordForgot/3" method="post">

        <div class="item">
            <input type="password" name="email" required>
            <label for="">请输入您的邮箱地址.</label>
            <br>
            <br>
            <span class="small-text">使用邮箱中的链接进行密码重置</span>
        </div>

        <button class="btn">确 认
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </form>
</div>
</body>

</html>