<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
     <link rel="stylesheet" href="/static/css/PasswordReset.css">
</head>

<body>
	<div class="loginBox">
		<h2>Password Reset</h2>
		<form action="/password_reset_post" method="post">
			<div class="item">
				<input type="password" name="new_password1" required>
				<label for="">New Password</label>
			</div>
			<div class="item">
				<input type="password" name="new_password2" required>
				<label for="">Confirm New Password</label>
               <span class="small-text">パスワードを2回入力し、一致させてください。</span>
			</div>

			<button class="btn">submit
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</form>
	</div>
</body>

</html>