<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文字识别工具</title>
    <!-- 引入 Tesseract.js -->
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>
</head>

<body>
    <input type="file" id="imageInput" accept="image/*">
    <button type="button" id="imageButton">开始文字识别</button>

    <br>

   <textarea class="form-control" name="textToTranslate" id="textToTranslate" rows="90"
    style="background: #DBDDDA; width: 80%;" placeholder="上传图片进行文字识别"></textarea>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 获取页面元素
            const imageInput = document.getElementById('imageInput');
            const textToTranslate = document.getElementById('textToTranslate');
            const imageButton = document.getElementById('imageButton');

            // 监听图像按钮的点击事件
            imageButton.addEventListener('click', function () {
                // 获取用户选择的图像文件
                const file = imageInput.files[0];

                if (file) {
                    // 使用 FileReader 读取图像文件
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        // 获取图像数据
                        const imageData = e.target.result;

                        // 使用 Tesseract.js 进行图像识别
                        Tesseract.recognize(
                            imageData,
                            'eng+jpn+chi_sim+mya', // 语言设置，可以根据需要调整
                            {
                                logger: info => console.log(info)
                            }
                        ).then(({ data: { text } }) => {
                            // 将图像识别的文本添加到 textToTranslate 元素中
                            textToTranslate.value = text;
                        }).catch(error => {
                            console.error(error);
                        });
                    };

                    // 读取图像文件
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
</body>

</html>
