<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate Tool</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/css/userTranslateHistory.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/top/1"> <img width="160px" src="/static/img/logola.png"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/user_translation_page/2">To translate </a></li>
                <li><a href="/show_translation_list">History screen</a></li>
                 <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Language selection<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user_translation_page/1">日本語</a></li>
                            <li><a href="/user_translation_page/2">English</a></li>
                            <li><a href="/user_translation_page/3">中文</a></li>
                            <li><a href="/user_translation_page/4">မြန်မာဘာသာ</a></li>
                        </ul>
                    </li>
                </ul>

                <li><a href="#">Link</a></li>

                 <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Other apps<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <li><a href="/user_translation_page/1">Chatbot</a></li>
                            <li><a href="/user_translation_page/2">Data analysis</a></li>
                            <li><a href="/user_translation_page/3">PatrolBot</a></li>
                            <li><a href="/user_translation_page/4">Management system</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"> <img width="32px" src="/static/img/user1.jpg"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Personal information</a></li>
                        <li><a href="#">Password change</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/index1.html">LogOut</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="overlay"></div>
<div class="container">
    <div>
         <ol class="breadcrumb">
            <li><a href="/top/1">C-Tream-APP</a></li>
            <li><a href="#">To translate</a></li>
            <li class="active">SHOW</li>
        </ol>
        <form action="/user_translation_page/1" method="post">
            <label for="inputLanguage">Input language：</label>
            <select name="inputLanguage" id="inputLanguage">
                <option value="">language selection</option>
                <option value="english">English</option>
                <option value="japanese">日本語</option>
                <option value="chinese">中文</option>
                <option value="Burmese">န်မာဘာသာ</option>
            </select>
            <br>
            <label for="textToTranslate">The text you want to be translated：</label>
            <br>
            <textarea class="form-control" name="textToTranslate" id="textToTranslate" rows="10" style="background: #DBDDDA;"
                      placeholder="Please enter the text."></textarea>
            <br>
            <label for="outputLanguage">Output language：</label>
            <select name="outputLanguage" id="outputLanguage">
                <option value="">language selection</option>
               <option value="english">English</option>
                <option value="japanese">日本語</option>
                <option value="chinese">中文</option>
                <option value="Burmese">န်မာဘာသာ</option>
            </select>
            <div style="margin-bottom: 10px">
                <input type="submit" name="" id="" value="Translation">
            </div>
        </form>
        <a class="btn btn-primary btn-xs" href="/depart/20/edit/">Translation result</a>
        <!-- 処理した結果ここの<div>に表示する -->
        <div id="result" name="result" style="position: relative; background: #F7F7F9;">
            <button class="copy-button" id="copy-button" data-clipboard-target="#text-to-copy"
                    style="background-color: dimgrey; color: #fff; padding: 1px; float: right; border: none;">
                Copy code
            </button>
            <textarea id="text-to-copy" class="form-control" rows="10"
                      style="background: #DBDDDA;">{{ result }}</textarea>
            <div class="copy-bar"></div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/static/index.js"></script>
<script src="/static/plugins/jquery-3.6.0.min.js"></script>
<script src="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<script src="/static/js/selef_js/userTranslationPage.js"></script>

</body>

</html>