<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate Tool</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <link rel="stylesheet" href="/static/css/userTranslateHistory.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <!-- v5 -->
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/top/1"> <img width="160px" src="/static/img/logola.png"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/user_translation_page/1">翻译画面</a></li>
                <li><a href="/user_translate_history/3">翻译历史</a></li>
            </ul>
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">语言选择<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_translation_page/1">日本語</a></li>
                        <li><a href="/user_translation_page/2">English</a></li>
                        <li><a href="/user_translation_page/3">中文</a></li>
{#                        <li><a href="/user_translation_page/4">မြန်မာဘာသာ</a></li>#}
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">其他APP<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_chatbot_page/1">チャットボット</a></li>
                        <li><a href="/user_translation_page/2">データー分析</a></li>
                        <li><a href="/user_translation_page/3">巡回ボード</a></li>
                        <li><a href="/user_translation_page/4">管理システム</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> <img width="32px" src="/static/img/user1.jpg"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_info/1">个人信息</a></li>
                        <li><a href="#">密码变更</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/1"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> 退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        <ol class="breadcrumb">
            <!-- 面包屑导航 -->
            <li><a href="/top/1">C-Tream-APP</a></li>
            <li><a href="#">翻译页面</a></li>
            <li class="active">SHOW</li>
        </ol>
        <form action="/user_translation_page/1" method="post">

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <!-- 入力言語部分 -->
                <div style="position: relative; top: 2px;">
                    <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> <label for="inputLanguage">当前语言：</label>
                    <select name="inputLanguage" id="inputLanguage">
                        <option value="">要翻译的语言</option>
                        <option value="en-US">英語</option>
                        <option value="ja-JP">日本語</option>
                        <option value="zh-CN">中国語</option>
                        <option value="my-MM">ミャンマー語</option>
                    </select>
                    <button type="button" style="background:white; margin-left: 10px;" id="voiceButton">
                        <img width="15px" src="/static/img/mc.jpg" alt="话筒图标">
                    </button>
                </div>
                <div style="display: flex; align-items: center; margin-left: 10%;">
                    <input type="file" id="imageInput" accept="image/*" style="margin-left: 340px;">
                    <button class="btn-info" type="button" id="imageButton" style="margin-left: 10px;">图像识别</button>
                </div>
            </div>
            <br>
            <label for="textToTranslate">翻译完的内容：</label>
            <br>
            <textarea class="form-control" name="textToTranslate" id="textToTranslate" rows="10"
                      style="background: #DBDDDA;"
                      placeholder="请输入你要翻译的内容"></textarea>
            <br>
            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> <label
                for="outputLanguage">输出语言：</label>
            <select name="outputLanguage" id="outputLanguage">
                <option value="">想要翻译成的语言</option>
                <option value="en-US">英語</option>
                <option value="ja-JP">日本語</option>
                <option value="zh-CN">中国語</option>
                <option value="my-MM">ミャンマー語</option>
            </select>
            <div style="margin-bottom: 10px">
                <input type="submit" name="" id="" value="翻訳">
            </div>
        </form>
        <a class="btn btn-primary btn-xs" href="#">翻译結果</a>
        <!-- 処理した結果ここの<div>に表示する -->
        <div id="result" name="result" style="position: relative; background: #F7F7F9;">
            <button class="copy-button" id="copy-button" data-clipboard-target="#text-to-copy"
                    style="background-color: dimgrey; color: #fff; padding: 1px; float: right; border: none;">
               <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy code
            </button>
            <textarea id="text-to-copy" class="form-control" rows="10"
                      style="background: #DBDDDA;">{{ result }}</textarea>
            <div class="copy-bar"></div>
        </div>
    </div>
</div>
<script src="/static/plugins/jquery-3.6.0.min.js"></script>
<script src="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<script src="/static/js/selef_js/userTranslationPage.js"></script>
<script src="/static/index.js"></script>
</body>
</html>
