<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate Tool</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/userTranslateHistory.css">

    <style>
          .navbar-default .navbar-nav > li > a {
            color: #fff;
        }
         .container {
            width: 100%;
            padding-right: 50px;
            padding-left: 100px;
        }
        .navbar {
            border-radius: 0px;
        }

        .navbar-brand {
            line-height: 32px;
        }

        .navbar-nav > li > a {
            line-height: 32px;
        }

        /* 新添加的样式 */
        .page-container {
            width: 600px;
            height: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;
        }

        .page-container h2 {
            text-align: center;
        }

        .image-upload {
            float: right;
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }

        .buttons button {
            width: 48%;
        }

        /* 新添加的样式，用于布局调整 */
        .left {
            width: 48%;
            float: left;
        }

        .right {
            width: 48%;
            float: right;
        }

        body {
            background: #EDEDE8;
        }


    </style>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/top/1"> <img width="160px" src="/static/img/logola.png"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/user_translation_page/1">翻訳画面</a></li>
                <li><a href="/user_translate_history/1">履歴画面</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">言語選択<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user_translate_history/1">日本語</a></li>
                            <li><a href="/user_translate_history/2">English</a></li>
                            <li><a href="/user_translate_history/3">中文</a></li>
                            {#                            <li><a href="/user_translation_page/4">မြန်မာဘာသာ</a></li>#}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">他のAPP<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user_translation_page/1">チャットボット</a></li>
                            <li><a href="#">データー分析</a></li>
                            <li><a href="#">巡回ボード</a></li>
                            <li><a href="#">管理システム</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"> <img width="32px" src="/static/img/user1.jpg"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_info/1">個人情報</a></li>
                        <li><a href="#">パスワード変更</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/1"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> ログアウト</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="page-container">
    <h2>個人情報</h2>
    <div class="left">
        <div class="form-group">
            <label for="user-id">ユーザID</label>
            <input type="text" id="user-id" name="user-id" value="userid" readonly>
        </div>
        <div class="form-group">
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="email" value="email">
        </div>
        <div class="buttons">
            <button id="change-password" onclick="showChangePasswordForm()">変更</button>
            <button id="confirm-change" onclick="confirmChanges()" style="display: none;">確認</button>
            <button id="cancel-change" onclick="cancelChanges()" style="display: none;">キャンセル</button>
        </div>
    </div>
    <div class="right">
        <div class="image-upload">
            <label for="profile-image">イメージ写真変更</label>
            <input type="file" id="profile-image" name="profile-image">
        </div>

        <div class="image-download">
            <img width="151" src="/static/img/user1.jpg">
        </div>

    </div>
</div>


<script>
    window.onload = function () {
        fetch('/api/getUserInfo')
            .then(response => response.json())
            .then(data => {
                // 将用户名填充到 <h2> 元素中
                document.querySelector('h2').textContent = data.username + "様";
                // 将其他用户信息填充到表单字段
                document.getElementById('user-id').value = data.id;
                document.getElementById('email').value = data.email;

            })
            .catch(error => {
                console.error('获取用户信息失败', error);
            });
    }


    // 弹出密码验证框
    function showPasswordPrompt() {
        const currentPassword = prompt("元パスワードを入力してください:");
        if (currentPassword) {
            // 发送密码到后台验证
            fetch('/api/validatePassword', {
                method: 'POST',
                body: JSON.stringify({currentPassword}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // 密码验证成功，继续在当前页面上执行后续操作
                        // 例如，显示“確認”和“キャンセル”按钮
                        document.getElementById('confirm-change').style.display = 'block';
                        document.getElementById('cancel-change').style.display = 'block';
                        document.getElementById('change-password').style.display = 'none';
                    } else {
                        alert('元パスワードが正しくない、情報は変更されませんでした。');
                        // 验证失败时，将隐藏按钮
                        document.getElementById('confirm-change').style.display = 'none';
                        document.getElementById('cancel-change').style.display = 'none';
                        document.getElementById('change-password').style.display = 'block';
                    }
                })
                .catch(error => {
                    console.error('密码验证失败', error);
                });
        }
    }


    // 用户点击变更按钮时触发
    document.getElementById('change-password').addEventListener('click', showPasswordPrompt);

    function showChangePasswordForm() {
        document.getElementById('password').disabled = false;
        document.getElementById('confirm-change').style.display = 'block';
        document.getElementById('cancel-change').style.display = 'block';
        document.getElementById('change-password').style.display = 'none';
    }

    function confirmChanges() {
        // 添加密码更改验证逻辑以及将更改提交到服务器的代码。
        // 如果验证通过，提交更改。
        // 如果未通过，显示错误消息或进行必要的处理。
        // 然后隐藏密码更改表单并显示原始的“Change Password”按钮。
        const newPassword1 = document.getElementById('password').value;
        const newEmail = document.getElementById('email').value;

        // 弹出确认新密码输入框
        const confirmedNewPassword = prompt("新しいパスワードを再入力してください:");
        if (confirmedNewPassword === newPassword1) {
            // 密码一致，发送更改信息到服务器
            fetch('/api/updateUserInfo', {
                method: 'POST',
                body: JSON.stringify({newPassword1, newEmail}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {

                    console.log("到底是啥" + data.success)
                    if (data.success) {

                        // 在需要的地方调用 getUserInfo 函数
                        window.onload();
                        alert('個人情報を成功に変更しました。');
                    }
                })
                .catch(error => {
                    alert('息更改失败しました。');
                    console.error('信息更改失败', error);
                });
        } else {
            alert('新しいパスワードが一致しません。情報は変更されませんでした。');
        }
    }

    function cancelChanges() {
        // 重置表单并隐藏密码更改表单
        document.getElementById('password').value = '';
        document.getElementById('password').disabled = true;
        document.getElementById('confirm-change').style.display = 'none';
        document.getElementById('cancel-change').style.display = 'none';
        document.getElementById('change-password').style.display = 'block';
    }
</script>

<script src="/static/plugins/jquery-3.6.0.min.js"></script>
<script src="/static/plugins/bootstrap-3.4.1/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</body>

</html>
